body {
    height: 100vh;
    width:100vw;
    display: flex;
    box-sizing: border-box;
    margin:0px;
    padding:0px;
    justify-content: center; 
    align-items: center; 
}
.wrap {

   
    display:grid;
    justify-items: center;
    text-align: center;

  
}

.word {

    border:0px;

    padding:15px;
}
.boggle {
    box-sizing: border-box;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    place-self: center;
    grid-gap: 6px;
    display: grid;
    border: 1px solid black;
    border-radius: 8px;
    padding: 5px;
}
.btn {
    user-select: none;
    border: 1px solid black;
    border-radius: 5px;
    width: 18px;
    padding: 24px;
    font-weight:700;
}

.choosen {
    outline: 2px solid orangered;
    border: 0px solid black;

}

scoresTable {
display:flex;


}

ul {
    justify-items: flex-start;
    list-style-type:none;
}

.score {
    margin-top: 30vw;
    border: 2px solid red;
    width: 6vw;
    height: 5vw;
    font-size: 1.5vw;
}

.mix {
     margin:15px;

}

